# ------------------------------------
# 1. Python Virtual Environment
# ------------------------------------
venv/
.venv/

# ------------------------------------
# 2. Sensitive data / API-Keys
# ------------------------------------
.env

# ------------------------------------
# 3. Python-specific data
# ------------------------------------
__pycache__/
*.pyc

.vscode/

dist/
build/
*.egg-info/

# ------------------------------------
# 4. Logs, Testreports
# ------------------------------------
*.log
/tmp/